.header{
  position: fixed;
  width: 82%;
  padding: 10px;
  background-color: #5995fd;
}

.search-bar{
width: 60%;
}
.search-input{
  padding: 5px 50px 5px 15px;;
  border-radius: 20px;
  width: -webkit-fill-available;
}
.fa-search{
  font-size: 20px;
    position: absolute;
    margin-left: 56%;
    margin-top: 8px;
    color: #5995fd;
}

.bi-list{
  font-size: 25px;
}

#dropdown-basic{
  padding: 5px;
}
.pointer{
  cursor: pointer;
}
.bi-box-arrow-right, .bi-person{
  padding: 3px;
  color: rgb(131, 129, 129);
}

.user-image{
  border-radius: 50%;
  border: 1px solid;
  margin-left: 10px;
}

.addButton{
  background-color: #4982cb;
  color: aliceblue;
}
.addButton :hover{
  background-color: #051b36 !important;
  color: aliceblue;
  font-weight: 600;
}
.profile-image {
  width: 30px !important;
  height: 30px !important;
}
.select-profile{
  margin-left: 10px;
  padding-left: 55px;
  padding-right: 20px;
  border-radius: 55px;
}

.select-profile-text{
  color: #afacac;
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
}

.input-field {
  max-width: 460px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: flex;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  margin-left: 10px;
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #686666;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.modal{
  .modal-dialog{
    .modal-content{
     .modal-body{
      a{
        text-decoration: none;
        cursor: pointer;
      }
      .paragraph-topic{
        background-color: #e2e2e2;
        padding: 5px;
      }
     }
    }
  }
}

.category-desc-color{
  color: rgb(53, 52, 52);
  font-weight: 600;
  margin-bottom: 0px;
}

.tittle-desc-color{
  color: #686666;
}

.topic-image-desc{
  margin-right: 20px;
  margin-top: 10px;
}

.fa-bell{
  color: #e2e2e2;
}

sup{
  color: white;
}
.modal-content{
  // height: 300px;
  overflow-y: auto
}

.notification-icon{
  padding: 3px;
  background-color: #d55a5a;
  border-radius: 50%;
}

.notification-icon:hover .fa-bell {
  color: red;
}