.header{
  position: fixed;
  width: 100%;
  // padding: 10px;
  background-color: #e9ecef;
  z-index: 1000; 
  margin: 0;
  padding: 10px;
  right: 0;
}

@media (min-width: 320px) {
  .search-bar{
    margin-left: 6% !important; 
    width: 57% !important;
}
.fa-search{
    margin-left: 60% !important;
}
.header-form{
  padding-left: 5px !important;
  padding-right: 5px !important;
}
}

.category {
  padding: 2px;
  color: black;
    font-size: 20px;
    font-weight: 700;
}
.header-form{
  padding-left: 20px;
  padding-right: 20px;
}

.search-bar{
width: 50%;
margin-left: 20%;
position: relative;
}
.search-input{
  padding: 5px 0px 5px 15px;
  border-radius: 20px;
  width: -webkit-fill-available;
  color: black;
}

@media (min-width: 320px) {
  .search-input {
    width: calc(100% - 30px); /* Adjust as needed */
  }
}

.fa-search{
    font-size: 18px;
    position: absolute;
    margin-left: 90% !important;
    margin-top: 7px;
    color: #a8a6a6;
}

.bi-list{
  font-size: 25px;
}

#dropdown-basic{
  padding: 5px;
  margin-top: -1px;
  margin-right: 5px;
}

hr.new1 {
  border-top: 1px solid #a8a6a6;
}

.pointer{
  cursor: pointer;
}
.bi-box-arrow-right, .bi-person{
  padding: 3px;
  color: rgb(131, 129, 129);
}

.user-image{
  border-radius: 50%;
  border: 1px solid;
  margin-left: 10px;
}

.addButton{
  background-color: #e9ecef;
  color: black;
  border: 1px solid #c5c5c5;
}
// .addButton :hover{
//   background-color: red !important;
// }
.profile-image {
  width: 30px !important;
  height: 30px !important;
}
.select-profile{
  margin-left: 10px;
  padding-left: 55px;
  padding-right: 20px;
  border-radius: 55px;
}

.select-profile-text{
  color: #afacac;
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
}

.input-field {
  max-width: 460px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: flex;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  margin-left: 10px;
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #686666;
}

.extra-arrow {
  background: #ffffff;
  width: 22px;
  height: 22px;
  position: absolute;
  top: -12px;
  right: 75px;
  transform: rotate(45deg);
  border-top: solid 1px #ccc;
  border-left: solid 1px #cccc;
}
.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}
.notification-text{
  font-size: 16px;
  font-weight: 500;
}
.modal{
  .modal-dialog{
    .modal-content{
      .modal-footer :hover{
        background-color: #c4c4c5;
    }
     .modal-body{
      a{
        text-decoration: none;
        cursor: pointer;
      }
      .paragraph-topic{
        background-color: #e2e2e2;
        padding: 5px;
      }
     }
    }
  }
}

.category-desc-color{
  color: rgb(53, 52, 52);
  font-weight: 600;
  margin-bottom: 0px;
}

.tittle-desc-color{
  color: #686666;
}

.topic-image-desc{
  margin-right: 20px;
  margin-top: 10px;
}

.fa-bell{
  color:#686666;
}
.Technology{
  color: #686666;
}
sup{
  color:#686666;
}
.modal-content{
  // height: 300px;
  overflow-y: auto
}

.notification-icon{
  padding: 3px;
  background-color: #dbdbdb;
  border-radius: 50%;
}

.notification-icon:hover .fa-bell {
  color: #999696;
}