<section class="login-section">
  <div class="container">
    <div class="d-flex justify-content-center">
      <span class="form-heading">Login Form</span>
    </div>
    <form action="#" [formGroup]="userLoginForm">
      <div class="input-field">
        <input type="text" class="form-control" formControlName="email" required>
        <label>Email</label>
      </div>
      <div class="input-field">
        <input class="pswrd" type="{{ password ? 'text' : 'password' }}" formControlName="password" class="form-control"
          required>
        <span class="eye-show-hide-password" (click)="password = !password">
          <i class="fa fa-eye-slash" *ngIf="!password" aria-hidden="true"></i>
          <i class="fa fa-eye" *ngIf="password" aria-hidden="true"></i>
        </span>
        <label>Password</label>
      </div>
      <div class="login-button-tag d-flex justify-content-center">
        <button type="button" class="btn login-button" (click)="loginUser()">Login</button>
      </div>
    </form>
    <div class="d-flex justify-content-center mb-2">
      <div class="custom-spinner" *ngIf="isLoading"></div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="signup">
        Don't have an account yet? <a href="#" routerLink="/user-register">Sign up</a>
      </div>
    </div>
  </div>
</section>