.eye-show-hide-password {
  position: absolute;
  margin-left: 92%;
  margin-top: -36px;
  color: #a69e9e;
}

.eye-show-hide-password:hover {
  color: #858282;
}

.login-section {
  background-color: #e9ecef;
}

.container {
  position: relative;
  width: 350px;
  background: white;
  padding: 60px 40px;
  height: 100vh;
}

/* Media query for medium devices */
@media (min-width: 320px) and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 45px 23px
  }
}

.form-heading {
  color: rgb(121, 120, 120);
  font-size: 30px;
  margin-bottom: 3rem;
  font-family: 'Montserrat', sans-serif;
}

.input-field,
form .button {
  margin: 25px 0;
  position: relative;
  height: 50px;
  width: 100%;
}

.input-field input {
  height: 100%;
  width: 100%;
  border: 1px solid silver;
  padding-left: 15px;
  outline: none;
  font-size: 16px;
  transition: .4s;
}

.input-field label,
span.show {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input-field label {
  left: 15px;
  pointer-events: none;
  color: grey;
  font-size: 18px;
  transition: .4s;
}

span.show {
  right: 20px;
  color: #111;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  visibility: hidden;
  font-family: 'Open Sans', sans-serif;
}

input:valid~span.show {
  visibility: visible;
}

input:focus~label,
input:valid~label {
  transform: translateY(-37px);
  background: white;
  font-size: 16px;
  color: #7b7676;
}


.login-button {
  width: 100%;
  color: #7b7676;
  font-weight: 400;
  background-color: #e9ecef;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #cdcdcd;
}

.login-button-tag :hover {
  background-color: #d9dce2;
}

.container .auth {
  margin: 35px 0 20px 0;
  font-size: 19px;
  color: grey;
}

.signup {
  margin-top: 5rem;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
}

.signup a {
  color: #3498db;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}