.description-details{
    width: 100%;
    overflow-y: auto;
    padding-left: 10px;
    margin-bottom: 20px;
}

.desc-video{
    margin-top: 30px;
}

video{
    border: 1px solid rgb(118, 119, 118);
}

.topic-desc{
    padding: 10px;
    box-shadow: 0px 11px 27px -17px;
    margin-bottom: 3rem;
    border-radius: 5px;
}

.topic-tittle{
    background-color: #afc1e0;
    padding: 2px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 600;
    font-size: 18px;
    
}

.topic-description{
    padding: 5px;
    background-color: #5995fd;
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: 600;
    color: aliceblue;
    // border-radius: 5px;
}
.sendButton {
    color: white;
    border-radius: 10px;
    border: 1px solid #5995fd;
    margin-left: 10px;
}

.desc-detail{
   overflow-y: auto;
}
.heading-technology{
    background-color: #5995fd;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 5px;
}
.user-name{
    font-size: 18px;
    font-weight: 500;
}

.form-data{
    background-color: #e8e6e6;
    width: 48%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.user-image-icon{
    margin-left: 10px;
    border-radius: 50%;
}

.user-image{
    border-radius: 50%;
    border: 1px solid;
    margin-bottom: 10px;
}
.sendButton:hover{
    color: aliceblue !important;
    background-color: #5995fd;
  }

.img-thumbnail{
    height: 200px;
    width: 50%
}