<div class="description-page">
    <div class="topic-description d-flex justify-content-between align-items-center px-3">
      <div class="back-to-desc-page">
        <div class="back-icon" (click)="navigateToDescriptionPage()">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 0 448 512" routerLink="/home">
              <path
                d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
                fill="white" />
            </svg>
          </span>
        </div>
      </div>

      <div class="desc-detail">
        <span>Description Of Topic</span>
      </div>
      <div class="span">
        <span></span>
      </div>
    </div>
    <div class="d-flex justify-content-center mb-2">
        <div class="custom-spinner" *ngIf="isLoading"></div>
      </div>
      <div class="topic-desc" *ngFor="let topic of getTopicsData">
        <div class="topic-title d-flex justify-content-center">
          <span>{{ topic.title }}</span>
        </div>
        <div class="desc-content d-flex justify-content-center">
          <p>{{ topic.description }}</p>
        </div>
        <div class="desc-image d-flex justify-content-center mb-2">
          <img height="200px" width="100%" class="img-fluid img-thumbnail" [src]="topic.image" alt="Image">
        </div>
        <div class="desc-video d-flex justify-content-center mb-2">
          <video height="260px" width="100%" controls>
            <source [src]="topic.video" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        {{topic.video}}
        <br>
        {{topic.image}}
      </div>
      
      <form action="" [formGroup]="commentOnTopicForm">
      <div class="comment-text">
        <label for="">Comments</label>
      </div>
      
      <div class="comment-area-profile d-flex justify-content-start">
        <div class="comment">
            <textarea type="textarea" formControlName="comment_desc" class="form-control" rows="2" cols="78" placeholder="Enter here..."></textarea>
           </div>
      </div>
      <div class="comment-send-btn d-flex justify-content-between px-5">
        <div class="">
        </div>
        <div class="sendButton mt-2">
        <button type="button" class="btn" (click)="createCommentOnTopic()">Send</button>
        </div>
        <div class="">
        </div>
       </div>
    </form>
    <div class="get-comment-on-topic">
        <div class="list-of-comment d-flex justify-content-between align-items-center" *ngFor="let comments of getCommentData">
            <div class="form-group">
               <img height="20px" width="20" class="mb-1" [src]="comments.user_image" alt="">
                <span for="">{{comments.user_name}}</span>
                <textarea type="textarea" [value]="comments.comment_desc" class="form-control" rows="1" cols="78" readonly></textarea>
            </div>
        </div>
    </div>
    </div>
