.description-details{
    width: 100%;
    overflow-y: auto;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 4rem;
}

.desc-video{
    margin-top: 30px;
}

video{
    border: 1px solid rgb(118, 119, 118);
}



.topic-desc{
    padding: 10px;
    box-shadow: 0px 11px 27px -17px;
    margin-bottom: 3rem;
    border-radius: 5px;
}

.topic-tittle{
    color: black;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
    
}

.topic-description{
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin-top: 10px;
}
.sendButton {
    color: white;
    border-radius: 10px;
    border: 1px solid #5995fd;
    margin-left: 10px;
}


.heading-technology{
    background-color: #5995fd;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 5px;
}
.user-name{
    font-size: 18px;
    font-weight: 500;
}

.form-data{
    background-color: #ededed;
    width: 48%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    // margin-bottom: 20px;
}
.user-image-icon{
    margin-left: 10px;
    border-radius: 50%;
}

textarea.form-control {
    border-radius: 10px;
}

.reply-label{
    font-size: 13px;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
}

.user-image{
    border-radius: 50%;
    border: 1px solid;
    margin-top: 5px;
}
.sendButton:hover{
    color: aliceblue !important;
    background-color: #5995fd;
  }

.img-thumbnail{
    height: 300px;
    width: 55%
}

.like-share{
    gap: 23%;
}

.form-data-ans{
    background-color: #ededed;
    width: 34%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 14%;
}

.answer{
    width: fit-content;
}


.auth-name{
    font-weight: 600;
}



.total-comments{
    font-size: 12px;
    color: #5995fd;
    font-weight: 500;
}

// .like-icon :hover, .comment-icon :hover, .share-icon :hover{
//     // color: white;
//     background-color: rgb(245, 44, 77);
//     border-radius: 10px;
// }

.social-icon{
   margin-right: 3px;
}

.blue-icon {
    color: #5995fd;
  }
  
  .black-icon {
    color: #787878;
  }
  .fa-comment{
    color: #787878;
  }


.email-item {
    display: flex;
    align-items: center;

    /* Add padding, margin, etc. as needed */
}

.email {
    flex: 1; /* Takes up remaining space */
    /* Add padding, margin, etc. as needed */
}



.modal{
  .modal-dialog{
    .modal-content{
        width: 70%;
        .modal-footer{
            padding: 0;
        }
        .modal-header{
            padding: 0 7px 0 7px;

        }
    }
  }
}

.addButton{
    background-color: #4982cb;
    color: aliceblue;
  }
  .addButton :hover{
    background-color: #051b36 !important;
    color: aliceblue;
    font-weight: 600;
  }