.description-page{
    width: 100%;
}

.topic-desc{
    padding: 10px;
    box-shadow: 0px 11px 27px -17px;
    margin-bottom: 3rem;
    border-radius: 5px;
}

.topic-tittle{
    background-color: #afc1e0;
    padding: 2px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 600;
    font-size: 18px;
    
}

.topic-description{
    padding: 5px;
    background-color: #5995fd;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
    // border-radius: 5px;
}
.sendButton {
    color: white;
    border-radius: 10px;
    border: 1px solid #5995fd;
    margin-right: 12%;
}

.desc-detail{
   overflow-y: auto;
}

.img-thumbnail{
    height: 200px;
    width: 100%
}