<section class="register-section">
  <div class="container">
    <div class="d-flex justify-content-center">
      <span class="form-heading">Register Form</span>
    </div>
    <form action="#" [formGroup]="registrationForm">
      <div class="input-field">
        <input type="text" class="form-control" formControlName="name" required>
        <label>Name</label>
      </div>
      <div class="input-field">
        <input type="text" class="form-control" formControlName="email" required>
        <label>Email</label>
      </div>
      <div class="input-field">
        <input class="pswrd" class="form-control" type="{{ password ? 'text' : 'password' }}" formControlName="password"
          required>
        <span class="eye-show-hide-password" (click)="password = !password">
          <i class="fa fa-eye-slash" *ngIf="!password" aria-hidden="true"></i>
          <i class="fa fa-eye" *ngIf="password" aria-hidden="true"></i>
        </span>
        <label>Password</label>
      </div>
      <div class="input-field">
        <div class="select-profile">
          <a href="javascript:void(0)" (click)="onSelectImageClick()">
            <span class="select-profile-text">Select Profile</span>

            <img *ngIf="imageSelectedFileUrl" class="profile-image" [src]="imageSelectedFileUrl" alt="Selected Image" />
            <img *ngIf="!imageSelectedFileUrl" class="profile-image"
              src="https://cdn-icons-png.flaticon.com/128/2202/2202112.png" alt="Placeholder" />
          </a>
          <input type="file" (change)="onFileSelectedImage($event)" accept="image/*" id="imageFileInput"
            style="display: none;">
        </div>
      </div>
      <div class="register-button-tag d-flex justify-content-center">
        <button type="button" class="btn register-button" (click)="userRegister()">Register</button>
      </div>
    </form>
    <div class="d-flex justify-content-center mb-2">
      <div class="custom-spinner" *ngIf="isLoading"></div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="signup">
        Already have an account? <a href="#" routerLink="/user-login">Sign in</a>
      </div>
    </div>
  </div>
</section>