// .header {
//   height: 70px;
//   padding: 10px;
//   background-color: white;
//   display: flex;
//   justify-content: space-between;
//   box-shadow: 5px 5px 5px #dfdddd;
//   border-bottom: rgb(179, 179, 185) 1px solid;
//   position: relative;

//   .user {
//     display: flex;
//     align-items: center;
//     font-weight: bold;
//     .user-image {
//       border: 2px solid #fff;
//       background-color: #d3dbed;
//       margin-left: 30px;
//       display: flex;
//       align-items: end;
//       justify-content: center;
//       font-weight: bold;
//     }
//   }
// }
.logo{
  margin-top: -13px;
}
.base-color{
  background-color:  #2d498d;
  color: aliceblue;
}

.user-name{
  margin: 10px;
  background-color: rgba(20, 83, 154, 1.00);
  padding: 6px 10px 6px 10px;
  border-radius: 50%;
  color: white;

}

.pointer{
cursor: pointer;
}
