<div class="header">
    <div class="d-flex justify-content-start ">
      <div class="logo">
        <img src="../../assets/images/" alt="img">
      </div>
      <div class="user">
        <div class="user-name pointer">Basant</div>
    
        <div class="user-image">
            <button class="btn btn base-color logoutBtn" type="submit">
             <span> Logout</span>
            </button>
        </div>
      </div>
    </div>
   
 
  </div>


  <!-- <div class="header">

  </div> -->
  