/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
    padding: 0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


input,
button {
    outline: 0px solid rgb(185, 167, 167);
    border: 0px solid rgb(228, 207, 207);
}

a {
    text-decoration: none;
}


.login {
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
    scrollbar-color: none;

}

.login-form {
    position: relative;
    background-color: #5995fd;
    border: 2px solid var(--white-color);
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.login-title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-weight);
    margin-bottom: 2rem;
    color: aliceblue;
}

.login-content,
.login-box {
    display: grid;
}

.login-content {
    row-gap: 1.75rem;
    margin-bottom: 1.5rem;
}

.login-box {
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 0.75rem;
    border-bottom: 2px solid var(--white-color);
}

.login-icon,
.login-eye {
    font-size: 1.25rem;
}

.login-input {
    width: 100%;
    padding-block: 0.8rem;
    background-color: #85acee;
    border-radius: 10px;
}

.login-box-input {
    position: relative;
}

.login-label {
    position: absolute;
    left: 0;
    top: 13px;
    font-weight: var(--font-weight);
    transition: top 0.3s, font-size 0.3s;
}

.login-eye {
    position: absolute;
    right: 0;
    top: 18px;
    z-index: 15;
    cursor: pointer;
}

.login-box:nth-child(2) input {
    padding-right: 1.8rem;
}

.login-check,
.login-check-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-check {
    margin-bottom: 1.5rem;
}

.login-check-label,
.login-forget,
.login-register {
    font-size: var(--small-font-size);
}

.login-check-group {
    column-gap: 0.5rem;
}

.login-check-input {
    width: 16px;
    padding: 16px;
}

.login-forget {
    color: var(--white-color);
}

.login-forget:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #85acee;;
    font-weight: var(--font-weight);
    cursor: pointer;
    margin-bottom: 2rem;
    transition: all 0.1s ease-in;
}

.login-button:hover {
    background-color: #447ddf;;
    transition: all 0.1s ease-out;
}

.login-register {
    text-align: center;
}
.login-register a {
    font-weight: var(--font-weight);
    color: var(--white-color);
}
.login-register a:hover {
    text-decoration: underline;
}
/* Input Focus move up label */
.login-input:focus + .login-label {
    top: -18px;
    font-size: var(--small-font-size);
}
/* Input focus sticky top label  */
.login-input:not(:placeholder-shown).login-input:not(:focus) + .login-label {
    top: -18px;
    font-size: var(--small-font-size);
}

@media screen and (min-width: 576px){
    .login {
        justify-content: center;
    }
    .login-form {
        // width: 432px;
        padding: 4rem 3rem 3.5rem;
        border-radius: 1.5rem;
    }
    .login-title {
        font-size: 2rem;
    }
}

.custom-spinner {
    width: 40px; 
    height: 40px; 
    border: 4px solid rgb(241, 234, 234); 
    border-radius: 50%; 
    border-top-color: #4d84e2;
    border-bottom-color: #4d84e2; 
    border-left-color: #4d84e2; 
    animation: spin 1s linear infinite; 
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
