<div class="site-bar">
 
  <div class="category">
    <span>Technology</span>
  </div>
    <div class="nav-items">
        <div class="nav-item" [class.active-technology]="activeTechnology === 'Angular'" (click)="getTechnology('Angular')">
          <img class="image-icon" width="20px" height="20px" src="../../assets/images/angular.png" alt="">
          <span value="Angular">Angular</span>
        </div>
        <div class="nav-item" [class.active-technology]="activeTechnology === 'NodeJs'" (click)="getTechnology('NodeJs')">
          <img class="image-icon" width="20px" height="20px" src="../../assets/images/nodejs.png" alt="">
          <span value="Node Js">NodeJs</span>
        </div>
        <div class="nav-item" [class.active-technology]="activeTechnology === 'ReactJs'" (click)="getTechnology('ReactJs')">
          <img class="image-icon" width="20px" height="20px" src="../../assets/images/reactjs.png" alt="">
          <span value="React Js">ReactJs</span>
        </div>
        <div class="nav-item" [class.active-technology]="activeTechnology === 'Java'" (click)="getTechnology('Java')">
          <img class="image-icon" width="20px" height="20px" src="../../assets/images/java.png" alt="">
          <span value="Java">Java</span>
        </div>
        <div class="nav-item" [class.active-technology]="activeTechnology === 'IOS'" (click)="getTechnology('IOS')">
          <img class="image-icon" width="20px" height="20px" src="../../assets/images/ios.png" alt="">
          <span value="IOS">IOS</span>
        </div>
        <div class="nav-item" [class.active-technology]="activeTechnology === 'Android'" (click)="getTechnology('Android')">
          <img class="image-icon" width="20px" height="20px" src="../../assets/images/android.png" alt="">
          <span value="Android">Android</span>
        </div>
      </div>
</div>

  